$font-primary: Outfit, sans-serif;

$text-preset-1: 22px;
$line-height-preset-1: 125%;
$font-weight-preset-1: 600;

$text-preset-2: 18px;
$line-height-preset-2: 145%;
$font-weight-preset-2: 300;

$text-preset-3: 16px;
$line-height-preset-3: 125%;
$font-weight-preset-3-semibold: 600;

