:root{
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-blue-500: #8BACD9;
    --color-blue-800: #2E405A;
    --color-blue-900: #15263F;
    --color-blue-950: #0D192C;

    --color-cyan-400: #00FFF8;
}